html, body {
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #000000;
}
h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}
.box_center{
    width: 92%;
    max-width: 1200px;
    margin: 0  auto;
    padding: 3% 0;
}
.heading{
    padding-bottom: 3%;
    text-align: center;
    font-size: 2.5em;
    border-bottom: 1px solid #000000;
}


/*MENU*/
nav{
    width: 100%;
    position: fixed;
    padding: 15px 0;
    background: #000000;
    z-index: 101;
}
.links{
    width: 300px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.links li{
    width: 150px;
    float: left;
    text-align: center;
}
.links li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
}
.links li a:hover{
    text-decoration: underline;
    text-shadow: 0 0 3px #FFFFFF;
}
/* -------------------- */


/* HEADER */
header{
    width: 100%;
    background: url(../images/top.jpg) no-repeat center;
    background-size: cover;
    overflow: auto;
}
.rectangle{
    margin: 20% 12.5%;
    padding: 2.5%;
    text-align: center;
    width: 70%;
    height: 25%;
    background: #000000;
    border-radius: 10px;
}
.rectangle h1{
    font-family: 'Bevan', cursive;
    font-size: 3.5em;
    color: #FFFFFF;
}
.rectangle h2{
    font-size: 2.5em;
    color: #FFFFFF;
}
/* -------------------- */


/* ABOUT_ME */
#about_me{
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #000000;
    overflow: auto;
}
.box{
    padding: 3%;
    text-align: center;
}
.box p{
    font-size: 1.2em;
    line-height: 24px;
}
.box h3{
    font-size: 1.5em;
    margin: 3% 0;
}
.box h4{
    font-size: 1.3em;
    margin-bottom: 1.5%;
}
.box ul{
    margin: 0 0 1.5%;
    padding: 0;
    list-style: none;
}
.box ul li{
    font-size: 1.2em;
}
/* -------------------- */


/* PROJECTS */
#projects{
    width: 100%;
    padding-bottom: 5%;
    background: #FFFFFF;
    overflow: auto;
}
.box_project{
    width: 44.5%;
    height: auto;
    padding: 0 2.5% 3%;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    float: left;
    text-align: center;
}
.box_project:nth-of-type(2n){
    border-right: none;   
}
.box_project h3{
    margin: 3%;
    font-size: 1.5em;    
}
.container_img {
  position: relative;
  width: 100%;
}
.image {
  display: block;
  margin: 0 auto;
  border: 1px solid #000000;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 389px;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  cursor: pointer;
}
.container_img:hover .overlay {
  opacity: .8;
}
.text {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* -------------------- */


/* FOOTER */
footer{
    width: 100%;
    background: #000000;
    overflow: auto; 
}
.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    color: #FFFFFF;
}
.autor {
    display: felx;
    margin: 0;
}
.autor p {
    margin: 0;
    padding: 2px 0;
}
.git_style{
    margin-top: 3px;
    color: #FFFFFF;
    font-size: 2.5em;
}
.photo_info{
    display: flex;
    margin: 0 0 0 auto;
    text-align: right;
}
.photo_info a{
    text-decoration: none;
    color: #FFFFFF;
}
.photo_info a:hover{
    text-decoration: underline;
    text-shadow: 0 0 3px #FFFFFF;
}
/* -------------------- */